h1{color:blue;
    font-size: 15px;
    font-weight: bold;
    margin-left: 50px;
    padding-left: 25px;
}
*{border:solid}

.header{background-color: #00ffd4;
display: flex;
justify-content: space-evenly;
}

.grid{display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.social{display: flex;
justify-content: flex-end;
}

body{
    background-color: #808080;
}

.about{
    display: flex;
    justify-content: center;
    border: solid;
    background-color: #4285f4;
    text-decoration: underline;
}

.me{
    border: solid;
    background-color: #00ff55;
}

.header *{
    border: solid;
}

a:visited{
    color: blue;
}

a:hover{
    color: purple;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    font-weight: bold;
    top: 30%;
    right: 30%;
    opacity: 0;
}

.item:hover p{
    opacity: 0.5;
}